@import "tailwindcss";

@theme {
  /* Palet warna kustom kamu yang sebelumnya */
  --color-jet-black: #2d3142;
  --color-silver: #bfc0c0;
  --color-white: #ffffff;
  --color-coral-glow: #d4d4d4;
  --color-blue-slate: #4f5d75;

  /* JALUR BARU: Mendaftarkan short-class font kustom */
  --font-wedding: var(--font-wedding);
  --font-body: var(--font-body);
}

body {
  /* Otomatis menerapkan font tubuh ke seluruh aplikasi */
  @apply bg-jet-black text-white font-body antialiased;
}